doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://unpkg.com/element-ui/lib/theme-default/index.css')
    script(type='text/javascript', src= 'https://unpkg.com/vue/dist/vue.js')
    script(type='text/javascript', src='https://unpkg.com/element-ui/lib/index.js')
  body
    block content
    script(type='text/javascript', src='/javascripts/main.js')