extends layout

block content
  div(class='login')
    p(class="logo")
      img(src="/images/logo.png")
    p(class="description")=description
    div(id="login" class="login_form_div")
      el-form( :model = "loginForm"  label-width="" )
        el-form-item(label="" prop="username")
          el-input(v-model="loginForm.username" type="text" auto-complete="off" placeholder="输入账号")
        el-form-item(label="" prop="password")
          el-input(v-model="loginForm.password" type="password" auto-complete="off" placeholder="输入密码")
        el-form-item
          el-button( @click = 'submitForm("loginForm")' type = 'submit') 提交
  div(class='copyRight')
    p ©2016-2017 www.quanzi.com All Rights Reserved Beijing MJT Technology Co.,Ltd.京ICP备1039142068号